<table class="table table-bordered">
  <thead>
    <tr>
      <th>Login ID</th>
      <th>First Name</th>
      <th>Last Name</th>
      <th>Location</th>
      <th>Active</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let user of users"
      (click)="onRowClick(user)"
      [class.active]="user === selectedUser"
      >
      <td>{{user.loginId}}</td>
      <td>{{user.firstName}}</td>
      <td>{{user.lastName}}</td>
      <td>{{user.location}}</td>
      <td>
        {{user.isActive}}
      </td>
    </tr>
  </tbody>
</table>